.post-clone {
  margin-top: 20px;
  background-color: #242526;
  border-radius: 2.5%;
  width: 450px;
}
:root{
  --filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
}

.profile {
  display: flex;
  padding: 10px 0px 9px 15px;
  align-items: center;
}
.post-top-flex {
  display: flex;
}
.profile-name-center {
  padding-left: 7px;
}
.profile-name-center p {
  color: #e4e6eb;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.post-round-circle {
  position: relative;
  top: 21px;
  left: 92px;
}
.profile-name-center small {
  font-weight: 400;
  font-size: 0.7rem;
  font-family: Helvetica, Arial, sans-serif;
  color: #9b9898;
}
.profile img {
  border-radius: 100%;
}
.post-img img {
  width: 450px;
}
.footer-flex-1{
  display: flex;
  margin-top: 8px;
  margin-left: 20px;
}
.footer-like-name{
  display: flex;
  color: #e4e6eb;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.like-name{
  padding-right: 0px;
}
.padding{
  padding-left: 10px;
}
.post-footer{
  height: 60px;
}
.footer-line{
  border-bottom: 1px solid #45474a;
  width: 94%;
  display: flex;
margin: 5px auto 0px auto;
}


.x1b0d499{
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/cKNftyRmEIg.png);
  background-position: 0px -251px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  vertical-align: -0.25em;
  -webkit-filter: var(--filter-secondary-icon);
  
}
.x1b0d4991{
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/cKNftyRmEIg.png);
  background-position: 0px -213px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;

  -webkit-filter: var(--filter-secondary-icon);

}
.x1b0d4992{
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/cKNftyRmEIg.png);
    background-position: 0px -270px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    filter: var(--filter-secondary-icon);
}
.footer-icon-flex{
  display: flex;
  justify-content: space-evenly;
  margin-top: 6px;
  align-items: center;
  text-align: center;
}
.footer-icon{
  display: flex;
  
}
.footer-icon-cap{
  font-family: Segoe UI Historic, Segoe UI, Helvetica,;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .89rem;;
  color: #b0b3b8;
  padding-left: 8px;
  font-weight: 600;
}
