.right-main{
    border: 1px solid red;
    width: 300px;
    height: 100vh;
    /* position: fixed; */
/* 
    top: 43px; */
}
/* .add-img img{
    width: 100px;
    border-radius: 10%;
 
}
.add-img{
    display: flex;
    align-items: center;
}
.top-add{
    display: flex;
}
.sposor{
    padding-top: 20px;
 font-size: .95em;
 font-weight: 600;
 color: #b0b3b8;
 padding-bottom: 15px;
}
.txt{
    padding:5px 0px 5px 10px  ;
}
.add-span{
    display: flex;
   color: #e4e6eb;
   font-size: .9375rem;
   width: 120px;
   font-weight: bold;
}
.add-span1{
    display: flex;
    color: #b0b3b8;
    font-size: .8rem;
}
.add-line{
   
    border-bottom: 1px solid #3e4042;
    width: 90%;
    margin-top: 30px;
}
.Birthdays{
    
} */