.right-main {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 43px;

}

.content_right_inner {
    width: 70%;
    padding-right: 10px;
  }
  
  .your_pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: #a1a4a9;
  }
  
  .your_pages h3 {
    font-size: 18px;
    font-weight: 500;
  }
  
  .content_right ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
  }
  
  .content_right ul li {
    margin-bottom: 15px;
  }
  
  .content_right ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #e5e7eb;
    font-weight: 500;
  }
  
  .content_right ul li a img {
    width: 37px;
    margin-right: 10px;
    border-radius: 100%;
  }
  
  .content_right_small_text {
    font-size: 13px;
    color: #b0b2b6;
    padding-top: 0;
  }
  
  .content_right_small_text a {
    padding-left: 20px;
  }
  
  .content_right_small_text a i {
    margin-right: 15px;
  }
  
  .content_right_divider {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.08);
    border-width: 1px;
  }
  
  .birthdays {
    margin: 15px 0;
    color: #a1a4a9;
  }
  
  .birthdays h3 {
    font-size: 18px;
    font-weight: 500;
  }
  
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: #a1a4a9;
  }
  
  .contacts h3 {
    font-size: 18px;
    font-weight: 500;
  }
  
  .contacts i {
    margin-left: 15px;
  }
.birthdayTxt{
    padding-left: 20px;
}
.giftbox {
    height: 36px;
    width: 36px;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/kYjP4abidZg.png");
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
