*{
  padding: 0;
  margin: 0;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
body{
  background-color: #18191a;
  height: 100vh;
}


.right-fixed{
  position: fixed;
  left: 80%;
  top: 52px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  aside{
    display: none;
  }
  .right-main{
    display: none;
  }
}